.idea
**/build
**/build.gradle
**/dist
**/gradlew.bat
**/gradlew
**/gradle
**/.idea
**/mock
**/modules.xml
**/node_modules
**/.npmignore
**/package-lock.json
**/settings.gradle
**/sitemap.json
**/sitemap12.json
**/sitemap85.json
**/tests
**/vcs.xml
**/.vscode
**/workspace.xml