.mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.4);
    z-index: 9999;
}

.mask,.modal-content {
    display: flex;
}

.modal-content {
    flex-direction: column;
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.modal-btn-wrapper {
    display: flex;
    flex-direction: row;
    height: 100px;
    line-height: 100px;
    border-top: 2px solid rgba(7,17,27,.1);
}

.cancel-btn,.confirm-btn {
    flex: 1;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 32px;
    background: #eee;
}

.cancel-btn {
    border-right: 2px solid rgba(7,17,27,.1);
}

.main-content {
    flex: 1;
    height: 100%;
    overflow-y: hidden;
}